<h1>Data Science tools and Ecosystem

<p>In this notebook, Data Science Tools and Ecosystem are summarized.</p>

<p>Some of the popular languages that Data Scientists use are:<p/>
<ol><li>Python</li>
    <li>R</li>
    <li>SQl</li></ol>

<p>Some of the popular languages that Data Scientists use are:<p/>
<ol><li>Panda</li>
    <li>Numpy</li>
    <li>Keras</li></ol>

| Data Science Tools |
| --- |
| Matlab |
| Excel  |
| Tableau|

<h3>Below are a few examples of evaluating arithmetic expressions in Python</h3>

In [2]:
(3*4)+5
#This a simple arithmetic expression to mutiply then add integers

17

In [4]:
200/60
#This will convert 200 minutes to hours by diving by 60

3.3333333333333335

**Objectives:**
<p>List popular languages for Data Science</p>
<li>python</li>
<li>R</li>
<li>SQL</li>

<h2>Author</h2>
<p>Muhammad Taha Shayan</p>